<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="css/singleBlog.css">

</head>
<body>

    <%- include("components/navbar.ejs") %>


    <div class="container">
        <div class="post">
            <div class="author-name"><%- blog[0].title %></div>
            <div class="author-name"><%- blog[0].subTitle %></div>
        </div>

        <div class="post-content">
            <p><%- blog[0].description %></p>
        </div>

    <div class="post-footer">
        <!-- here toISOString() is to remove unecessary time zone data and slice cut and throw the data outside the parameter -->
        Published on <%- blog[0].createdAt.toISOString().slice(0,10) %> 
    </div>
    <button><a href="/delete/<%- blog[0].id %>">Delete</a></button>
    <button><a href="/edit/<%- blog[0].id %>">Edit</a></button>

    </div>

    <%- include("components/footer.ejs") %>


</body>
</html>
